
:root{
    --clr-bckg: #222;
    --clr-text: #fff;
    --clr-green: #04AA6D;
    --border: 1px solid var(--clr-green);
}

body, main{
    background: var(--clr-bckg);
}

#calculadora > label{
    margin: 0.5em 0;
    color: var(--clr-text);
}
#calculadora{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#calculadora #resultado{
    grid-column: 1 / 5;
    grid-row: 1; 
    padding: 3em;
}
/*
#calculadora #opciones{
    margin: 0em 2em;
}

#calculadora span{
    margin-left: 0.5em;
}*/
h3{
    color: var(--clr-green);
}

section{
    max-width: 60vw;
    margin: 5em auto;
    padding: 1.5em;
    background: var(--clr-bckg);
    color: var(--clr-text);
    border-radius: 5px;
    border: 10px solid #8D9994;
}


/****** CALCULADORA ******/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-container > div, button, input, select, #resultado{
    text-align: center;
    background: var(--clr-bckg);
    color: var(--clr-text);
    padding: 0.5em;
    border: var(--border);
    border-radius: 5px;
}

.grid-header {
    grid-column: 1 / 5;
}

#advCalculadora .grid-item:active, #advCalculadora .grid-header:active{
    transform: translateY(1px);
}