/************** IMPORT FONTS ****************/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


label{
    display: block;
    margin: 0.5em 0;
}

span{
    margin-left: 0.5em;
}

/****** EJERCICIO 4 ******/

.flex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 1000px;
    width: 100vw;
    margin: 0.5em;
}


.flex-item{
    width: 150px;
    height: 150px;
    padding: 25px;
    margin: 0.2em;
    font: 500 1.5em 'Roboto Slab', serif;
    background: #222;
    color: #fff;
}