
:root{
    --clr-bckg: #222;
    --clr-text: #fff;
    --clr-green: #04AA6D;
    --border: 1px solid var(--clr-green);
}

body, main{
    background: var(--clr-bckg);
}

label{
    display: block;
    margin: 0.5em 0;
    color: var(--clr-text);
}
#calculadora{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}

button, #resultado, label{
    width: 100%;
}


#resultado{
    height: 50px;
}
#opciones{
    margin: 0em 2em;
}

span{
    margin-left: 0.5em;
}
h3{
    color: var(--clr-green);
}

section{
    width: 60vh;
    margin: 2em auto;
    padding: 1.5em;
    background: var(--clr-bckg);
    color: var(--clr-text);
    border-radius: 5px;
    border: 10px solid #8D9994;
}


/****** CALCULADORA ******/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-container > div, button, input, select, #resultado{
    text-align: center;
    background: var(--clr-bckg);
    color: var(--clr-text);
    padding: 0.5em;
    border: var(--border);
    border-radius: 5px;
}

.grid-header {
    grid-column-start: 1;
    grid-column-end: 5;
}

#advCalculadora .grid-item:active, #advCalculadora .grid-header:active{
    transform: translateY(1px);
}